* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(Images/bg.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
  color: white;
  font-weight: bolder;
}

.memory-game {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  position: relative;
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(229, 217, 240);
  cursor: pointer;
  backface-visibility: hidden;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.back-face:hover {
  opacity: 0.7;
}

.front-face {
  transform: rotateY(180deg);
}

.memory-card.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

.end-game {
  animation: endGameEffect 1s forwards 3;
}

@keyframes endGameEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


p {
  font-size: x-large;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-bottom: 10px;
}

.flip-time-score-container {
   display: flex;
   background-color: rgb(168, 212, 245);
   width: 390px;
   height: 60px;
   margin-top: 20px;
   border-radius: 5px;
   align-items: center;
   justify-content: space-around;
}

#flip-container,
#time-container,
#score-container {
   display: flex;
   align-items: center;
   background-color: white;
   width: 100px;
   height: 40px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   font-weight: bold;
   justify-content: center;
}

button {
   padding: 11px 50px;
   cursor: pointer;
   background-color: rgb(48, 8, 72);
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 5px;
   margin-top: 40px;
   border: 1px solid white;
 }
 
 button:hover {
    opacity: 0.8;
 }

 .girl-image-container {
  position: absolute;
  left: 12%;
 }


 .girl-image {
  width: 130px;
  height: 130px;
 }

 .boy-image-container {
  position: absolute;
  right: 12%;
 }

 .boy-image {
  width: 130px;
  height: 130px;
 }